# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js
.next/
apps/web/.next/
out/
apps/web/out/
build/

# Misc
.DS_Store
*.pem

# Capacitor native outputs
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/capacitor-cordova-android-plugins/
mobile/android/local.properties
mobile/android/gradle/
mobile/ios/App/App.xcworkspace/
mobile/ios/App/build/
mobile/ios/App/Pods/
mobile/ios/App/Podfile.lock
mobile/ios/App/App.xcodeproj/xcuserdata/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
apps/web/next-env.d.ts

# IDE
.vscode/
.idea/

# Temporary files
/tmp
